@tailwind base;
@tailwind components;
@tailwind utilities;

.green{
    @apply text-txt-greenText;
}
.red{
    @apply text-txt-redText;
}

.checkbox{
    @apply relative
    w-12
    h-7
    rounded-full
    appearance-none
    bg-bg-lighter
    before:absolute
    before:top-1/2
    before:transform
    before:-translate-y-1/2
    before:bg-bg-darker
    before:left-1
    transition-all
    duration-300
    before:transition-all
    before:duration-300
    before:w-6
    before:h-6
    before:rounded-full
    before:checked:bg-txt-greenText
    checked:before:left-[calc(48px-24px-4px)];
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style-type:none;
    text-decoration:none;
    -webkit-tap-highlight-color: transparent;
}

body{
    @apply bg-bg-darker px-3 h-screen;
  font-family: "Karla", sans-serif;
}

::-webkit-scrollbar{
    width: 2px;
    background-color: #353434;
}
::-webkit-scrollbar-thumb{
    background-color: #5e5389;
}
